* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}
#logo {
    width: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

nav, main, footer {
    padding: 0 10vw;
}
nav {
    padding-top: 25px;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%), 
                url(./Assets/bg-image.jpg) center center no-repeat;
    background-size: cover;

    color: white;
}

h1 {
    text-align: center;
}

h3, h1, p {
    margin: 5px;
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
}
/*Curve border bottom Line*/
.section-divider {
    position: relative;
    width: 100%;
    height: 120px;
    background: #000;

    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;

    margin-top: -60px;
    z-index: 2;
    overflow: hidden;
}

.section-divider::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 120px;

    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;

    background: linear-gradient(to right, #ff004f, #ff7a00, #ff004f);

    box-shadow: 0 -5px 15px rgba(255, 0, 80, 0.6);

    mask: linear-gradient(to bottom, black 10%, transparent 40%);
    -webkit-mask: linear-gradient(to bottom, black 10%, transparent 40%);
}

/*Managing Button sections*/

button {
    background-color: rgb(229,9,20);
    color: white;
    border: 1px solid rgb(229,9,20);
    border-radius: 3px;
    cursor: pointer;
}

#nav-button {
    padding: 4px 16px;
}
.main-button {
    padding: 12px 24px;
}
.main-email {
    padding: 11px 15px;
    width: 300px;

}


span {
    color: black;
    font-size: 100px;

    position: relative;
    right: 18px;
    bottom: 120px;

    -webkit-text-stroke: 2px white;
}

main h3 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 22px;
}

/*Video Section*/

.tv-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.tv-container img {
    z-index: 1;
}
.tv-container video {
    position: absolute;
}
.icon {
    width: 70px;

}

/*"Main Section" - Reasons to join*/

article {
    width: 350px;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

article h2 {
    margin-right: calc(100% - 205px);
    width: 200px;
}

#reasons {
    display: flex;
    gap: 20px;
}
article {
    color: white;
    width: 370px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 10px;
    padding: 10px;
}
article h2 {
    font-size: 20px;
}

main section {
    padding-bottom: 50px;
}

/*"Main Section - FAQ Section*/

details {
    background: #2d2d2d;
}

details p {
    margin-top: 10px 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 24px;
    cursor: pointer;
}
details summary {
    padding: 24px;
    box-sizing: content-box;
    border-bottom: 5px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

/*Footer Section*/
footer .footer-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-links {
    display: flex;
    justify-content: space-between;
    color: rgba(255,255,255,0.7);
}
#footer-links ul {
    list-style: none;
    text-decoration: underline;
    margin-top: 40px;
}

#footer-links ul li {
    margin-bottom: 10px;
}